html {
  overflow: auto;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  height: 100%;
  img {
    height: 50%;
    margin-right: 0.4rem;
  }
}
